{% extends 'partials/base-template.html' %}
{% load static %}
{% block page_content %}
{% include 'partials/logo.html' %}
<section>
    <div class="container bg-black mt-5">
        <div class="row">
            <div class="figure">
                <div class="text-center">
                    <div class="white-text">Most popular recipes this week</div>
                </div>
            </div>
        </div>

    </div>

{#    recipes#}
</section>
<div class="container center">
    <div class="row">
        {% for recipe in recipes %}
            <div class="col-6">
                <div class="card mb-3 mt-5 ms-5" style="max-width: 540px;">
                    <div class="row g-0 border border-dark border-5">
                        <div class="col-md-4">
                            <img src="/media/{{ recipe.photo }}" class="img-fluid rounded-start resize"
                                 alt="recipe-photo">
                        </div>
                        <div class="col">
                            <div class="card-body">
                                <h5 class="card-title">{{ recipe.name }}</h5>
                                <ul class="pt-1">
                                    <li class="card-text">Ready in: {{ recipe.cooking_time }} minutes</li>
                                    <li class="card-text">Ingredients: {{ recipe.number_of_ingredients }}</li>
                                    <li class="card-text">Servings: {{ recipe.servings }}</li>
                                    <li class="card-text">Difficulty: {{ recipe.experience_level }}</li>
                                </ul>
                                <a class="stretched-link" href="{% url 'recipe details' pk=recipe.pk %}"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}